<html>
<head>
<link href="/stylesheets/theme.css" rel="stylesheet" type="text/css">
<link  href="/stylesheets/viewer.css" rel="stylesheet">
<script src="/javascripts/viewer.js"></script>
<script src="/javascripts/vmain.js"></script>
</head>
<body>
<%- galleryHtml %>
</body>
</html>